numpy
git+https://github.com/inducer/pytools.git@memoize-in-complex-identifiers
git+https://github.com/inducer/pymbolic.git
git+https://github.com/inducer/islpy.git
git+https://github.com/inducer/pyopencl.git
git+https://github.com/inducer/loopy.git
git+https://gitlab.tiker.net/inducer/dagrt.git
git+https://gitlab.tiker.net/inducer/leap.git
git+https://github.com/inducer/meshpy.git
git+https://github.com/inducer/modepy.git
git+https://gitlab.tiker.net/inducer/meshmode.git@array-context
