numpy
mpi4py
git+https://github.com/inducer/pytools.git#egg=pytools
git+https://github.com/inducer/pymbolic.git#egg=pymbolic
git+https://github.com/inducer/islpy.git#egg=islpy
git+https://github.com/inducer/pyopencl.git#egg=pyopencl
git+https://github.com/inducer/loopy.git#egg=loopy
git+https://github.com/inducer/dagrt.git#egg=dagrt
git+https://github.com/inducer/leap.git#egg=leap
git+https://github.com/inducer/meshpy.git#egg=meshpy
git+https://github.com/inducer/modepy.git#egg=modepy
git+https://github.com/inducer/arraycontext.git#egg=arraycontext
git+https://github.com/a-alveyblanc/meshmode.git@tensor-product-1d-nodes-and-1d-basis#egg=meshmode
git+https://github.com/inducer/pyvisfile.git#egg=pyvisfile
git+https://github.com/inducer/pymetis.git#egg=pymetis
git+https://github.com/illinois-ceesd/logpyle.git#egg=logpyle
git+https://github.com/inducer/pytato.git#egg=pytato

# for test_wave_dt_estimate
sympy
